<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1_layer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,480}}</string>
                <key>sourceSize</key>
                <string>{960,480}</string>
            </dict>
            <key>bg1_layer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{960,204}}</string>
                <key>offset</key>
                <string>{0,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,276},{960,204}}</string>
                <key>sourceSize</key>
                <string>{960,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg1.png</string>
            <key>size</key>
            <string>{1928,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b1fe2c05811f71abf0df30fd853913d:e5e70837c4fd54cf4361ece28459e398:70319541bf704eecb607f621abda401a$</string>
            <key>textureFileName</key>
            <string>bg1.png</string>
        </dict>
    </dict>
</plist>
