<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg3_layer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,480}}</string>
                <key>sourceSize</key>
                <string>{960,480}</string>
            </dict>
            <key>bg3_layer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{960,160}}</string>
                <key>offset</key>
                <string>{0,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,160}}</string>
                <key>sourceSize</key>
                <string>{960,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg3.png</string>
            <key>size</key>
            <string>{1928,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86583c36a4204d5424a2092f1b83768d:97acb2547673c32381c9dee63eb9968e:757654dcae0f698b73d50641fc25461f$</string>
            <key>textureFileName</key>
            <string>bg3.png</string>
        </dict>
    </dict>
</plist>
