<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ctrl_arrowLeft.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{232,362},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowRight.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{296,100},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowUp.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{364,362},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_cart.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{100,296},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_effectsoff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{362,166},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_effectson.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{394,2},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_facebook.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{296,166},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_more.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{232,296},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_musicoff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{2,394},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_musicon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{166,362},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_pause1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{362,100},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_play1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{298,296},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_rate.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{100,362},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_settings.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{166,296},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_shoot.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{298,362},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_twit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{364,296},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_cloud1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{32,9}</string>
    <key>spriteSourceSize</key>
    <string>{32,11}</string>
    <key>textureRect</key>
    <string>{{362,266},{32,9}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_coin.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{23,24}</string>
    <key>spriteSourceSize</key>
    <string>{25,25}</string>
    <key>textureRect</key>
    <string>{{100,428},{23,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{22,14}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{428,128},{22,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{394,68},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{22,24}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{125,428},{22,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{28,26}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{422,68},{28,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_dollarbag.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{68,426},{24,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_heart.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{24,26}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{428,100},{24,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_hit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,30}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{68,394},{30,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_missile.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,15}</string>
    <key>spriteSourceSize</key>
    <string>{15,15}</string>
    <key>textureRect</key>
    <string>{{428,144},{15,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_missile2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{362,232},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{100,198},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{2,296},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{296,2},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{2,100},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{100,2},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_P1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{2,2},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_P2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{100,100},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_lock.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{198,2},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>star.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,58}</string>
    <key>spriteSourceSize</key>
    <string>{64,58}</string>
    <key>textureRect</key>
    <string>{{296,232},{64,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{198,198},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{2,198},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{198,100},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{462,462}</string>
   <key>textureFileName</key>
   <string>sprite.png</string>
  </dict>
 </dict>
</plist>
