<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg2_layer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,240}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>bg2_layer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{480,68}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,172},{480,68}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg2.png</string>
            <key>size</key>
            <string>{968,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72ee72793f902c7b462c6fb7539adf2b:d6ca6b17745c373f006012a1df2c01fd:72760c6b65988cf2d8da3c966e9a6efb$</string>
            <key>textureFileName</key>
            <string>bg2.png</string>
        </dict>
    </dict>
</plist>
