<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bones/hit-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{15,17}</string>
    <key>spriteSourceSize</key>
    <string>{15,19}</string>
    <key>textureRect</key>
    <string>{{71,64},{15,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/hit-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{15,14}</string>
    <key>spriteSourceSize</key>
    <string>{15,19}</string>
    <key>textureRect</key>
    <string>{{66,85},{15,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/hit-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{15,13}</string>
    <key>spriteSourceSize</key>
    <string>{15,19}</string>
    <key>textureRect</key>
    <string>{{105,2},{15,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/hit-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{15,5}</string>
    <key>spriteSourceSize</key>
    <string>{15,19}</string>
    <key>textureRect</key>
    <string>{{81,38},{15,5}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,18}</string>
    <key>spriteSourceSize</key>
    <string>{23,19}</string>
    <key>textureRect</key>
    <string>{{36,44},{23,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,18}</string>
    <key>spriteSourceSize</key>
    <string>{23,19}</string>
    <key>textureRect</key>
    <string>{{2,62},{23,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,18}</string>
    <key>spriteSourceSize</key>
    <string>{15,19}</string>
    <key>textureRect</key>
    <string>{{54,64},{15,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,19}</string>
    <key>spriteSourceSize</key>
    <string>{15,19}</string>
    <key>textureRect</key>
    <string>{{2,82},{15,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,18}</string>
    <key>spriteSourceSize</key>
    <string>{15,19}</string>
    <key>textureRect</key>
    <string>{{19,82},{15,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,19}</string>
    <key>spriteSourceSize</key>
    <string>{15,19}</string>
    <key>textureRect</key>
    <string>{{81,17},{15,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,28}</string>
    <key>textureRect</key>
    <string>{{2,2},{32,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,28}</string>
    <key>textureRect</key>
    <string>{{2,32},{32,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/jump.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,16}</string>
    <key>spriteSourceSize</key>
    <string>{12,18}</string>
    <key>textureRect</key>
    <string>{{2,123},{12,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,18}</string>
    <key>spriteSourceSize</key>
    <string>{12,18}</string>
    <key>textureRect</key>
    <string>{{52,85},{12,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,18}</string>
    <key>spriteSourceSize</key>
    <string>{12,18}</string>
    <key>textureRect</key>
    <string>{{19,102},{12,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,18}</string>
    <key>spriteSourceSize</key>
    <string>{12,18}</string>
    <key>textureRect</key>
    <string>{{52,85},{12,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,18}</string>
    <key>spriteSourceSize</key>
    <string>{12,18}</string>
    <key>textureRect</key>
    <string>{{19,102},{12,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>knight/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{25,19}</string>
    <key>spriteSourceSize</key>
    <string>{27,22}</string>
    <key>textureRect</key>
    <string>{{36,23},{25,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>knight/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{25,19}</string>
    <key>spriteSourceSize</key>
    <string>{27,22}</string>
    <key>textureRect</key>
    <string>{{36,2},{25,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>knight/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{16,19}</string>
    <key>spriteSourceSize</key>
    <string>{18,22}</string>
    <key>textureRect</key>
    <string>{{63,24},{16,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>knight/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{16,19}</string>
    <key>spriteSourceSize</key>
    <string>{18,22}</string>
    <key>textureRect</key>
    <string>{{36,64},{16,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>knight/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{14,19}</string>
    <key>spriteSourceSize</key>
    <string>{18,22}</string>
    <key>textureRect</key>
    <string>{{36,85},{14,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>knight/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{16,20}</string>
    <key>spriteSourceSize</key>
    <string>{18,22}</string>
    <key>textureRect</key>
    <string>{{63,2},{16,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/attack-left.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{22,13}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{81,2},{22,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/attack-right.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{22,13}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{63,45},{22,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,13}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{86,105},{14,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{14,12}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{123,76},{14,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,13}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{123,61},{14,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{14,12}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{123,122},{14,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-left-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{36,106},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-left-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{112,17},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-right-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{88,64},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-right-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{105,45},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,13}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{71,122},{14,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,13}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{105,90},{14,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-left-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,13}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{105,75},{14,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-left-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{83,85},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,13}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{122,2},{14,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,13}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{55,122},{14,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-right-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,13}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{121,45},{14,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-right-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{52,105},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,11}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{91,137},{16,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,11}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{87,122},{16,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,11}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{121,90},{16,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,11}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{19,136},{16,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-left-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,12}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{37,122},{16,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-left-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,11}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{121,103},{16,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-right-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,12}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{105,61},{16,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-right-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,11}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{55,137},{16,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,11}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{87,122},{16,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,11}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{73,137},{16,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-left-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,11}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{105,122},{16,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-left-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,12}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{19,122},{16,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,11}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{19,136},{16,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,11}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{37,136},{16,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-right-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,11}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{102,105},{16,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-right-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,12}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{68,105},{16,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>staticshooter/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,14}</string>
    <key>spriteSourceSize</key>
    <string>{16,14}</string>
    <key>textureRect</key>
    <string>{{87,45},{16,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,18}</string>
    <key>spriteSourceSize</key>
    <string>{12,18}</string>
    <key>textureRect</key>
    <string>{{2,103},{12,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,18}</string>
    <key>spriteSourceSize</key>
    <string>{12,18}</string>
    <key>textureRect</key>
    <string>{{98,17},{12,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,18}</string>
    <key>spriteSourceSize</key>
    <string>{12,18}</string>
    <key>textureRect</key>
    <string>{{2,103},{12,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,18}</string>
    <key>spriteSourceSize</key>
    <string>{12,18}</string>
    <key>textureRect</key>
    <string>{{98,17},{12,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{141,152}</string>
   <key>textureFileName</key>
   <string>characters.png</string>
  </dict>
 </dict>
</plist>
