<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ctrl_arrowLeft.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{120,186},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowRight.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{152,52},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowUp.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{188,186},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_cart.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{52,152},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_effectsoff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{186,86},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_effectson.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{202,2},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_facebook.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{152,86},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_more.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{120,152},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_musicoff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{2,202},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_musicon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{86,186},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_pause1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{186,52},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_play1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{154,152},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_rate.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{52,186},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_settings.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{86,152},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_shoot.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{154,186},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_twit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{188,152},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_cloud1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,5}</string>
    <key>spriteSourceSize</key>
    <string>{16,5}</string>
    <key>textureRect</key>
    <string>{{186,138},{16,5}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_coin.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{13,13}</string>
    <key>spriteSourceSize</key>
    <string>{13,13}</string>
    <key>textureRect</key>
    <string>{{218,36},{13,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{12,7}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{66,220},{12,7}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{36,202},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{12,12}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{52,220},{12,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,13}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{202,36},{14,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_dollarbag.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{36,218},{12,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_heart.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,13}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{220,52},{12,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_hit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{186,120},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_missile.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{8,8}</string>
    <key>spriteSourceSize</key>
    <string>{8,8}</string>
    <key>textureRect</key>
    <string>{{220,67},{8,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_missile2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{204,120},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{52,102},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{2,152},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{152,2},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{2,52},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{52,2},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_P1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{2,2},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_P2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{52,52},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_lock.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{102,2},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>star.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,29}</string>
    <key>spriteSourceSize</key>
    <string>{32,29}</string>
    <key>textureRect</key>
    <string>{{152,120},{32,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{102,102},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{2,102},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{102,52},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{238,238}</string>
   <key>textureFileName</key>
   <string>sprite.png</string>
  </dict>
 </dict>
</plist>
