<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bones/hit-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{61,64}</string>
    <key>spriteSourceSize</key>
    <string>{61,74}</string>
    <key>textureRect</key>
    <string>{{90,308},{61,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/hit-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{61,53}</string>
    <key>spriteSourceSize</key>
    <string>{61,74}</string>
    <key>textureRect</key>
    <string>{{356,202},{61,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/hit-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-12}</string>
    <key>spriteSize</key>
    <string>{61,50}</string>
    <key>spriteSourceSize</key>
    <string>{61,74}</string>
    <key>textureRect</key>
    <string>{{321,75},{61,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/hit-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-28}</string>
    <key>spriteSize</key>
    <string>{61,18}</string>
    <key>spriteSourceSize</key>
    <string>{61,74}</string>
    <key>textureRect</key>
    <string>{{2,486},{61,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{92,69}</string>
    <key>spriteSourceSize</key>
    <string>{92,74}</string>
    <key>textureRect</key>
    <string>{{227,2},{92,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{92,70}</string>
    <key>spriteSourceSize</key>
    <string>{92,74}</string>
    <key>textureRect</key>
    <string>{{132,148},{92,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{61,70}</string>
    <key>spriteSourceSize</key>
    <string>{61,74}</string>
    <key>textureRect</key>
    <string>{{149,230},{61,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{57,73}</string>
    <key>spriteSourceSize</key>
    <string>{61,74}</string>
    <key>textureRect</key>
    <string>{{290,127},{57,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-2}</string>
    <key>spriteSize</key>
    <string>{53,70}</string>
    <key>spriteSourceSize</key>
    <string>{61,74}</string>
    <key>textureRect</key>
    <string>{{153,308},{53,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bones/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{57,74}</string>
    <key>spriteSourceSize</key>
    <string>{61,74}</string>
    <key>textureRect</key>
    <string>{{2,284},{57,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,112}</string>
    <key>spriteSourceSize</key>
    <string>{128,112}</string>
    <key>textureRect</key>
    <string>{{2,116},{128,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,112}</string>
    <key>spriteSourceSize</key>
    <string>{128,112}</string>
    <key>textureRect</key>
    <string>{{2,2},{128,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/jump.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,59}</string>
    <key>spriteSourceSize</key>
    <string>{48,70}</string>
    <key>textureRect</key>
    <string>{{484,2},{48,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,70}</string>
    <key>spriteSourceSize</key>
    <string>{48,70}</string>
    <key>textureRect</key>
    <string>{{227,276},{48,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,70}</string>
    <key>spriteSourceSize</key>
    <string>{48,70}</string>
    <key>textureRect</key>
    <string>{{349,127},{48,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,70}</string>
    <key>spriteSourceSize</key>
    <string>{48,70}</string>
    <key>textureRect</key>
    <string>{{90,374},{48,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,70}</string>
    <key>spriteSourceSize</key>
    <string>{48,70}</string>
    <key>textureRect</key>
    <string>{{2,360},{48,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>knight/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-7}</string>
    <key>spriteSize</key>
    <string>{93,71}</string>
    <key>spriteSourceSize</key>
    <string>{107,86}</string>
    <key>textureRect</key>
    <string>{{132,75},{93,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>knight/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-7}</string>
    <key>spriteSize</key>
    <string>{93,71}</string>
    <key>spriteSourceSize</key>
    <string>{107,86}</string>
    <key>textureRect</key>
    <string>{{132,2},{93,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>knight/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{61,71}</string>
    <key>spriteSourceSize</key>
    <string>{71,86}</string>
    <key>textureRect</key>
    <string>{{227,127},{61,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>knight/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-6}</string>
    <key>spriteSize</key>
    <string>{57,74}</string>
    <key>spriteSourceSize</key>
    <string>{71,86}</string>
    <key>textureRect</key>
    <string>{{227,200},{57,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>knight/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-7}</string>
    <key>spriteSize</key>
    <string>{53,71}</string>
    <key>spriteSourceSize</key>
    <string>{71,86}</string>
    <key>textureRect</key>
    <string>{{321,2},{53,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>knight/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-5}</string>
    <key>spriteSize</key>
    <string>{57,76}</string>
    <key>spriteSourceSize</key>
    <string>{71,86}</string>
    <key>textureRect</key>
    <string>{{90,230},{57,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/attack-left.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-6}</string>
    <key>spriteSize</key>
    <string>{86,52}</string>
    <key>spriteSourceSize</key>
    <string>{96,64}</string>
    <key>textureRect</key>
    <string>{{227,73},{86,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/attack-right.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-6}</string>
    <key>spriteSize</key>
    <string>{86,52}</string>
    <key>spriteSourceSize</key>
    <string>{96,64}</string>
    <key>textureRect</key>
    <string>{{2,230},{86,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{56,52}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{290,331},{56,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-8}</string>
    <key>spriteSize</key>
    <string>{56,48}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{352,385},{56,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{56,52}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{419,202},{56,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-8}</string>
    <key>spriteSize</key>
    <string>{56,48}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{290,435},{56,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-left-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{56,56}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{153,380},{56,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-left-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{56,56}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{340,259},{56,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-right-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{56,56}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{227,348},{56,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-right-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{56,56}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{399,127},{56,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{56,52}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{227,406},{56,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{56,52}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{398,259},{56,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-left-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{56,52}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{457,127},{56,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-left-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{56,56}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{426,2},{56,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{56,52}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{153,438},{56,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{56,52}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{2,432},{56,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-right-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{56,52}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{90,446},{56,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-right-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{56,56}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{426,60},{56,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-10}</string>
    <key>spriteSize</key>
    <string>{60,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{472,469},{60,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-10}</string>
    <key>spriteSize</key>
    <string>{60,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{472,331},{60,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-10}</string>
    <key>spriteSize</key>
    <string>{60,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{348,435},{60,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-10}</string>
    <key>spriteSize</key>
    <string>{60,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{456,259},{60,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-left-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-8}</string>
    <key>spriteSize</key>
    <string>{60,48}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{348,331},{60,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-left-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{60,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{410,469},{60,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-right-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-8}</string>
    <key>spriteSize</key>
    <string>{60,48}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{477,202},{60,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-right-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-2}</string>
    <key>spriteSize</key>
    <string>{60,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{410,331},{60,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-10}</string>
    <key>spriteSize</key>
    <string>{60,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{472,331},{60,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-10}</string>
    <key>spriteSize</key>
    <string>{60,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{410,423},{60,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-left-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-10}</string>
    <key>spriteSize</key>
    <string>{60,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{472,377},{60,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-left-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-8}</string>
    <key>spriteSize</key>
    <string>{60,48}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{227,460},{60,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-10}</string>
    <key>spriteSize</key>
    <string>{60,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{456,259},{60,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-10}</string>
    <key>spriteSize</key>
    <string>{60,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{410,377},{60,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-right-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-10}</string>
    <key>spriteSize</key>
    <string>{60,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{472,423},{60,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-right-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-8}</string>
    <key>spriteSize</key>
    <string>{60,48}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{290,385},{60,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>staticshooter/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,55}</string>
    <key>spriteSourceSize</key>
    <string>{64,55}</string>
    <key>textureRect</key>
    <string>{{290,202},{64,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,70}</string>
    <key>spriteSourceSize</key>
    <string>{48,70}</string>
    <key>textureRect</key>
    <string>{{290,259},{48,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,70}</string>
    <key>spriteSourceSize</key>
    <string>{48,70}</string>
    <key>textureRect</key>
    <string>{{376,2},{48,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,70}</string>
    <key>spriteSourceSize</key>
    <string>{48,70}</string>
    <key>textureRect</key>
    <string>{{290,259},{48,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,70}</string>
    <key>spriteSourceSize</key>
    <string>{48,70}</string>
    <key>textureRect</key>
    <string>{{376,2},{48,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{541,517}</string>
   <key>textureFileName</key>
   <string>characters.png</string>
  </dict>
 </dict>
</plist>
