<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ctrl_arrowLeft.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{456,714},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowRight.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{584,196},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowUp.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{716,714},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_cart.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{196,584},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_effectsoff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{714,326},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_effectson.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{778,2},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_facebook.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{584,326},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_more.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{456,584},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_musicoff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{2,778},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_musicon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{326,714},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_pause1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{714,196},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_play1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{586,584},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_rate.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{196,714},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_settings.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{326,584},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_shoot.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{586,714},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_twit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{716,584},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_cloud1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{62,17}</string>
    <key>spriteSourceSize</key>
    <string>{64,22}</string>
    <key>textureRect</key>
    <string>{{714,522},{62,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_coin.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{42,48}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{242,844},{42,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-2}</string>
    <key>spriteSize</key>
    <string>{44,28}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{844,250},{44,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{52,56}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{778,132},{52,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-4}</string>
    <key>spriteSize</key>
    <string>{44,48}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{196,844},{44,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{56,52}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{832,132},{56,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_dollarbag.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{132,840},{48,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_heart.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{48,52}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{844,196},{48,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_hit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,60}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{132,778},{60,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_missile.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,30}</string>
    <key>spriteSourceSize</key>
    <string>{30,30}</string>
    <key>textureRect</key>
    <string>{{844,280},{30,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_missile2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{714,456},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{196,390},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{2,584},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{584,2},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{2,196},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{196,2},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_P1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{2,2},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_P2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{196,196},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_lock.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{390,2},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>star.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,116}</string>
    <key>spriteSourceSize</key>
    <string>{128,116}</string>
    <key>textureRect</key>
    <string>{{584,456},{128,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{390,390},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{2,390},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{390,196},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{910,910}</string>
   <key>textureFileName</key>
   <string>sprite.png</string>
  </dict>
 </dict>
</plist>
